body {
    background-color: #121212;
    color: #fefefe;
}

h1, h2 {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 2.75rem;
    font-weight: 100;
    text-transform: uppercase;

}

h2 {
    font-size: 1.5rem;
    font-weight: 100;
    text-transform: lowercase;
    
}

header {
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-content: space-between;
    padding: 10px 40px 0px 30px;
    vertical-align: bottom;
    align-items: center;
    background-color: #000;
}

.logo {
    width: 100px;
}

.navbar {
    width: 20px;
    height: 20px;
    margin: 30px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}